<div class="card" data-id="<%= portfolio_item.id %>">
  <%= image_tag portfolio_item.main_image unless portfolio_item.main_image.nil? %>
  <h2 class="card-text">
    <span><%= link_to portfolio_item.title, portfolio_path(portfolio_item) %></span>
  </h2>
  <h3><span><%= portfolio_item.subtitle %></h3></span>
</div>
