<div class="<%= location %>"> <!-- location is a the parameter that will accept the argument from the partial call and location is just the variable name -->
  <%= nav_helper('text-white', 'span') %>
</div>
