
<div class="row">
  <div class="col-md-4">
    <%= image_tag "me.jpg", width: 400, alt: "mypic" %>
  </div>
  <div class="col-md-8">
    <h1>About Moi</h1>
    <p>
      With over 2 decades of experience in the general grapic design and successfully
      ventured into several different creative indistries I've built a modest freelance
      reputation for not only deliverying on time but thinking creatively to solve
      production and post-production problems and challenges while staying within budget
      and deadline(s).
    </p>
    <p>
      I am a naturally curious person, this has led me to my dabbling int the world
      of code; in a nuttshel: I was curious took some basic classes in my local college,
      then proceded to level up on my own and currently working on achieving a standard
      of understanding and execution of code to achieve some of my own personal ideas.
    </p>
  </div>
</div>
