<h1>Hit me up, Let's make cool stuff together</h1>
<br>
<div class="row">
  <div class="col-md-6">
    <h2>Office Address</h2>
    <p>3044 S Military Trail, Lake Worth, FL 33463</p>
    <h2>Office Address</h2>
    <p><%= number_to_phone "5615551212"%></p>
    <h2>eMail</h2>
    <p><a href="mailto:codeloopy@gmail.com?subject=PortfolioContact" "email me">eMail Me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3566.4908314373824!2d-80.11449778445922!3d26.632762783249046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d927e45d125a7b%3A0xa714eb4608f6642d!2sPixel+Depth+Studio!5e0!3m2!1sen!2sus!4v1512190897113" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
